{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap -->
		<link href={% static "bootstrap/dist/css/bootstrap.min.css" %} rel="stylesheet">
		

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script source={% static "bootstrap/dist/js/bootstrap.min.js" %}></script>
	</head>
				      <body>
					          <h1>Hello, world!</h1>

						      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
						          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
							      <!-- Include all compiled plugins (below), or include individual files as needed -->
							          <script src="js/bootstrap.min.js"></script>
								    </body>
								    </html>


<a class="btn btn-default" href="https://www.strava.com/oauth/authorize?client_id={{clientID}}&response_type=code&redirect_uri={{url}}&scope=write&state=fromroot&approval_prompt=auto">click to connect</a>
